#mostvisited-body-main-div #heading-mostvisited-h1{
    padding-top: 40px;
    font-size: 40px;
    margin-bottom: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-align: center; */
    text-align: center;
}
#mostvisited-body-main-div h1{
    text-align: center;
    /* margin-bottom: 50px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* #mostvisited-body-main-div .heading-1{
    /* margin-top: 30px; */

#mostvisited-body-main-div #sections-most-visited{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
#mostvisited-body-main-div #sections-most-visited #mostvisited-left-col-page{
    flex-basis: 40%;
    /* margin-left: 50px; */
    margin-top: 30px;
}
#mostvisited-body-main-div #sections-most-visited #mostvisited-left-col-page img{
    padding-left: 90px;
    margin-left: 30px;
    width: 90%;
}
#mostvisited-body-main-div #sections-most-visited #most-visited-right-col-page{
    flex-basis: 60%;
    display: flex;
}
#mostvisited-body-main-div #sections-most-visited #mostvisited-right-col-page #map-1{
    margin-left: 140px;
    padding-top: 30px;
    padding-right: 10px;
    justify-content: flex-start;
}
#mostvisited-body-main-div #Info-Vidhan .address-info p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-indent: 0%;
}
#mostvisited-body-main-div #Info-Vidhan .address-info p span{
    font-weight: bold;
}
#mostvisited-body-main-div #Info-Vidhan .address-info{
    margin-bottom: 20px;
}

#mostvisited-body-main-div #Info-Vidhan{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
}
#mostvisited-body-main-div #Cubbon-park-heading{
    margin-top: 50px;
}
#mostvisited-body-main-div #sections-most-visited-2{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#mostvisited-body-main-div #sections-most-visited-2 #mostvisited-2-right-col-page{
    flex-basis: 40%;
    margin-left: 50px;
}
#mostvisited-body-main-div #sections-most-visited-2 #mostvisited-2-right-col-page img{
    width: 90%;
    flex-wrap: wrap;
    /* padding-left: 100px; */
}
#mostvisited-body-main-div #sections-most-visited-2 #most-visited-2-left-col-page{
    flex-basis: 60%;
}
#mostvisited-body-main-div #sections-most-visited-2 #mostvisited-2-left-col-page #map-2{
    margin-left: 30px;
    padding-left: 90px;
    /* padding-top: 100px; */
}
#mostvisited-body-main-div #Info-Cubbon .address-info{
    margin-bottom: 20px;
}
#mostvisited-body-main-div #Info-Cubbon .address-info p span{
    font-weight: bold;
}
#mostvisited-body-main-div #Info-Cubbon .address-info p{
    text-indent: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

#mostvisited-body-main-div #Info-Cubbon{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
}
#mostvisited-body-main-div #Bangalore-palace-heading{
    margin-top: 50px;
}
#mostvisited-body-main-div #sections-most-visited-3{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#mostvisited-body-main-div #sections-most-visited-3 #mostvisited-3-left-col-page{
    flex-basis: 40%;
    /* margin-left: 100px; */
}
#mostvisited-body-main-div #sections-most-visited-3 #mostvisited-3-left-col-page img{
    width: 90%;
    padding-left: 100px;
}
#mostvisited-body-main-div #sections-most-visited-3 #most-visited-3-right-col-page{
    flex-basis: 60%;
}
#mostvisited-body-main-div #sections-most-visited-3 #mostvisited-3-right-col-page #map-3{
    width: 80%;
    margin-left: 100px;
    /* padding-top: 50px; */
}
#mostvisited-body-main-div #Info-Palace .address-info{
    margin-bottom: 20px;
}
#mostvisited-body-main-div #Info-Palace .address-info p{
    text-indent: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
#mostvisited-body-main-div #Info-Palace .address-info p span{
    font-weight: bold;
}
#mostvisited-body-main-div #Info-Palace{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
}

#mostvisited-body-main-div #Nandi-hills-heading{
    margin-top: 50px;
}
#mostvisited-body-main-div #sections-most-visited-4{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#mostvisited-body-main-div #sections-most-visited-4 #mostvisited-4-left-col-page{
    flex-basis: 40%;
    margin-left: 50px;
}
#mostvisited-body-main-div #sections-most-visited-4 #mostvisited-4-left-col-page img{
    width: 100%;
    /* padding-left: 100px; */
}
#mostvisited-body-main-div #sections-most-visited-4 #most-visited-4-right-col-page{
    flex-basis: 60%;
}
#mostvisited-body-main-div #sections-most-visited-4 #mostvisited-4-right-col-page #map-4{
    margin-left: 50px;
    padding-left: 30px;
    /* padding-top: 100px; */
}
#mostvisited-body-main-div  #Info-Hills .address-info p{
    text-indent: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
#mostvisited-body-main-div  #Info-Hills .address-info p span{
    font-weight: bold;
}
#mostvisited-body-main-div  #Info-Hills .address-info{
    margin-bottom: 20px;
}

#mostvisited-body-main-div #Info-Hills{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
}

#mostvisited-body-main-div #Iskcon-Temple-heading{
    margin-top: 50px;
}
#mostvisited-body-main-div #sections-most-visited-5{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#mostvisited-body-main-div #sections-most-visited-5 #mostvisited-5-left-col-page{
    flex-basis: 40%;
    margin-left: 80px;
}
#mostvisited-body-main-div #sections-most-visited-5 #mostvisited-5-left-col-page img{
    width: 90%;
    padding-left: 30px;
}
#mostvisited-body-main-div #sections-most-visited-5 #most-visited-5-right-col-page{
    flex-basis: 60%;
    width: 100%;
}
#mostvisited-body-main-div #sections-most-visited-5 #mostvisited-5-right-col-page #map-5{
    padding-left: 0;
    /* padding-top: 100px; */
    margin-left: 50px;
}
#mostvisited-body-main-div #Info-Temple .address-info p{
    text-indent: 0%;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

#mostvisited-body-main-div #Info-Temple .address-info p span{
    font-weight: bold;
}
#mostvisited-body-main-div #Info-Temple .address-info{
    margin-bottom: 20px;
}

#mostvisited-body-main-div #Info-Temple{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
}


#mostvisited-body-main-div #Wonderla-heading{
    margin-top: 50px;
}
#mostvisited-body-main-div #sections-most-visited-6{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#mostvisited-body-main-div #sections-most-visited-6 #mostvisited-6-left-col-page{
    flex-basis: 40%;
    /* margin-right: 50px; */
    /* margin-left: 100px; */
}
#mostvisited-body-main-div #sections-most-visited-6 #mostvisited-6-left-col-page img{
    width: 100%;
    padding-left: 50px;
    /* padding-right: 50px; */
}
#mostvisited-body-main-div #sections-most-visited-6 #most-visited-6-right-col-page{
    flex-basis: 60%;
}
#mostvisited-body-main-div #sections-most-visited-6 #mostvisited-6-right-col-page #map-6{
    margin-left: 40px;
    padding-left: 50px;
    /* padding-top: 100px; */
}

#mostvisited-body-main-div #Info-Wonderla .address-info{
    margin-bottom: 20px;
}
#mostvisited-body-main-div #Info-Wonderla .address-info p{
    text-indent: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

#mostvisited-body-main-div #Info-Wonderla p span{
    font-weight: bold;
}

#mostvisited-body-main-div #Info-Wonderla{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
}

#mostvisited-body-main-div #Mysore-Palace-heading{
    margin-top: 50px;
}
#mostvisited-body-main-div #sections-most-visited-7{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#mostvisited-body-main-div #sections-most-visited-7 #mostvisited-7-left-col-page{
    flex-basis: 40%;
    margin-left: 30px;
}
#mostvisited-body-main-div #sections-most-visited-7 #mostvisited-7-left-col-page img{
    width: 100%;
    padding-left: 50px;
}
#mostvisited-body-main-div #sections-most-visited-7 #most-visited-7-right-col-page{
    flex-basis: 60%;
}
#mostvisited-body-main-div #sections-most-visited-7 #mostvisited-7-right-col-page #map-7{
    padding-left: 0;
    margin-left: 100px;
    /* padding-top: 100px; */
}
#mostvisited-body-main-div #Info-Mysore .address-info p{
    text-indent: 0%;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
#mostvisited-body-main-div #Info-Mysore .address-info p span{
    font-weight: bold;
}
#mostvisited-body-main-div #Info-Mysore{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
}
#mostvisited-body-main-div #Info-Mysore .address-info {
    margin-bottom: 20px;
}

#mostvisited-body-main-div #Lalbagh-heading{
    margin-top: 50px;
}
#mostvisited-body-main-div #sections-most-visited-8{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#mostvisited-body-main-div #sections-most-visited-8 #mostvisited-8-left-col-page{
    flex-basis: 40%;
    /* margin-right: 50px; */
    /* margin-left: 200px; */
}
#mostvisited-body-main-div #sections-most-visited-8 #mostvisited-8-left-col-page img{
    width: 100%;
    margin-left: 70px;
    /* padding-right: 50px; */
}
#mostvisited-body-main-div #sections-most-visited-8 #most-visited-8-right-col-page{
    flex-basis: 60%;
    margin-left: 40px;
}
#mostvisited-body-main-div #sections-most-visited-8 #mostvisited-8-right-col-page #map-8{
    padding-left: 80px;
    /* padding-top: 100px; */
}
#mostvisited-body-main-div  #Info-Lalbagh .address-info p{
    text-indent: 0%;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}

#mostvisited-body-main-div  #Info-Lalbagh .address-info p span{
    font-weight: bold;
}
#mostvisited-body-main-div  #Info-Lalbagh .address-info{
    margin-bottom: 20px;
}
#mostvisited-body-main-div #Info-Lalbagh{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
}

#mostvisited-body-main-div #Nehru-Planetorium-heading{
    margin-top: 50px;
}
#mostvisited-body-main-div #sections-most-visited-9{
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#mostvisited-body-main-div #sections-most-visited-9 #mostvisited-9-left-col-page{
    flex-basis: 45%;
    margin-left: 30px;
}
#mostvisited-body-main-div #sections-most-visited-9 #mostvisited-9-left-col-page img{
    width: 90%;
    height: 300px;
    padding-left: 50px;
}
#mostvisited-body-main-div #sections-most-visited-9 #most-visited-9-right-col-page{
    flex-basis: 55%;
}
#mostvisited-body-main-div #sections-most-visited-9 #mostvisited-9-right-col-page #map-9{
    padding-left: 0;
    margin-left: 50px;
    /* padding-top: 100px; */
}
#mostvisited-body-main-div #Info-Nehru .address-info{
    margin-bottom: 20px;
}
#mostvisited-body-main-div #Info-Nehru .address-info p{
    text-indent: 0%;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
#mostvisited-body-main-div #Info-Nehru .address-info p span{
    font-weight: bold;
}

#mostvisited-body-main-div #Info-Nehru{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 35px;
    font-size: 19px;
    margin-bottom: 150px;
}
#mostvisited-body-main-div .footer{
    height: 0;
    margin-top: 50px;
    /* position: static; */
}
#back-button-map{
    height: 30px;
    width: 70px;
    margin-left: 80px;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    font-size: 1.3rem;
    color: white;
    background-color: rgb(128, 0, 64);
}
#back-button-map:hover{
    color: black;
    background-color: white;
    transition: 0.6s ease;
    cursor: pointer;
}