#restaurants-body-main-div,#mostvisited-body-main-div #entry-para{
    padding-left: 80px;
    padding-right: 80px;
    font-size: 18px;
    text-align: justify;
    line-height: 35px;
    margin-bottom: 40px;
}